#Executables
*.out
checker*
push_swap*
move*

#Libraries
/libft/libft.a
libftprintf.a
*libft.a

#Folders
/references
/coldstorage
/samples/
/rebuild
/includes/*
/test*
*dSYM/
libft/.gitignore
/misc_files
/print

#dot files
._*

#Object Files
*.o
/objects

#Misc files
__pycache__/
venv/
debug_*
*.pdf
tests.c
.DS_Store
*.py
*.swp
*.swo
*.txt
*.sh
.nfs*
*.gch
pft/
*main.c
